#main{
    
    margin: 0px 40px;
    font-family: sans-serif;
    /* border: 1px solid black; */
    h1{
        margin: auto;
        margin-top: 30px;
        width: 500px;
        text-align: center; 
        font-size: 250%;
        color: rgb(57, 55, 55);
    }
}

#navBar{
    margin: 0px;
    padding: 25px 0px;
    background-color: white;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    
    #navBar1{
        font-size: large;
        
    }
    #navBar2{
        font-size: medium;
        span{
            font-weight: 500;
            margin-right: 20px;
        }
    }
    #navBar3{
        font-size: medium;
        #signIn{
            padding: 30px;

        }
        #signIn:hover{
           background-color: whitesmoke;
           border-radius: 8px;

        }

        #block{
            width: 40px;
            padding: 13px;
            font-size: smaller;
            background-color: rgb(41, 40, 40);
            border-radius: 10px;
            color: white;
        }
        #block:hover{
            background-color: #000;
        }
    }
    
}

#emailEntry{
    display: flex;
    #welcome{
        width: 800px;
        h1{
            margin: 80px 60px 20px 0px;
            font-size: 300%;
            color: rgb(41, 40, 40);
        }
        p{
            margin: 20px 60px 20px 0px;
            font-size: x-large;
            color: rgb(140, 140, 140);
        }

        #email{
            display: flex;
            padding: 10px 0px;
            input{
                width: 250px;
                height: 35px;
                border-radius: 5px;
                padding: 0px;
            }
            button{
                margin: 0px 25px;
                padding: 13px 20px;
                color: white;
                background-color: rgb(47, 46, 46);
                border-radius: 10px;
                font-size: small;
                font-weight: bold;
                border: 0px;
            }
            button:hover{
                background-color: black;
            }
        }

        #terms{
            color: rgb(140, 140, 140);
        }

    }
    img{
        width: 600px;
        height: 600px;
        border-radius: 10px;
    }
}

.smallText{
    text-align: center;
    font-weight: bold;
    margin: 150px 0px 0px;
}
#companies{
    display: flex;
    margin: 30px 6px;
    img{
        width: 190px;
        height: 125px;
    }
}
#companies2{
    display: flex;
    filter: grayscale(120%);
    margin: 30px 6px 150px;
    img{
        width: 190px;
        height: 125px;
    }
}

#mySkills{
    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    

    .skills{
        width: 300px;
        
        padding: 25px;
        text-align: center;
        
        h2{
            font-size:larger;
        }

        .icon2{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 50px;
            height: 50px;
            background-color: #212121;
            border-radius: 100%;
        }

        img{
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }

        p{
            font-size: larger;
            color: rgb(140, 140, 140);;
        }
        
    }
}

.description{
    padding: 0px 100px;
    width: 600px;
    color: rgb(140, 140, 140); 
    font-size: x-large; 
    margin: 15px auto 50px; 
    text-align: center;
}

#projectBody{
    display: grid;
    grid-template-columns: auto auto auto auto;
    .project{
        width: 240px;
        padding: 10px;
        margin-bottom: 30px;
        img{
            width: 240px;
            padding: 10px;
        }
        a{
            margin-left: 10px;
            text-decoration: none;
            color: black;
            font-size: x-large;
            font-weight: bold;
        }
        p{
            margin-left: 10px;
            color: rgb(140, 140, 140); 
        }
        button{
            margin-left: 10px;
            height: 33px;
            width: 110px;
            color: white;
            background-color: rgb(26, 25, 25);
            font-weight: 600;
            border-radius: 10px;
            border: 1px solid #000;
        }
        button:hover{
            background-color: black;
            box-shadow: #000;
        }
    }
}

#resume{
    margin:150px 0px 150px;
    display: flex;
    gap: 100px;
    #myResume{
        
        text-align: start;
        color: black;
    }

    p{
        width: 450px;
        font-size: larger;
        color:  rgb(140, 140, 140); 
    }
    button{
        
        width: 150px;
        height: 40px;
        color: black;
        background-color: white;
        border: 0px;
        font-weight: bold;
        border-radius: 5px;
    }
    button:hover{
        background-color: rgb(237, 229, 229);
    }

    

    #degree{
        div{
            display: flex;
            margin: 10px 26px;
            footer{
                display: inline-block;
                img{
                    width: 55px;
                    height: 55px;
                    border-radius: 10px;
                }
            }
            span{
                font-size: 110%;
                color: rgb(140, 140, 140); 
                margin-left: 15px;
            }
        }
        
    }
    
}
#client{
    margin: auto 100px;
    display: flex;


    #part1{
        width: 500px;
        h2{
            width: 200px;
            font-size: 200%;
        }
        p{
            width: 400px;
            color:  rgb(140, 140, 140); 
        }
        div{
            font-weight: bold;
        }
        section{
            margin-top: 10px;
            font-size: small;
            color:  rgb(140, 140, 140); 
        }
    }
    img {
        border-radius: 10px;
        margin-left: 100px;
        width: 300px;
        height: 300px;
    }
}

#contact{
    border: 1px solid #e6e5e5;
    margin-bottom: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 40px 0px rgb(193, 193, 193);
    display: flex;

    #c1{
        margin: 20px;
        padding: 50px;
        width: 350px;
        background-color: rgb(38, 36, 36);
        border-radius: 10px;
        color: white;
        div{
            color:  rgb(140, 140, 140); 
        }
        #c11{
            margin-top: 10px;
            color: white;
            font-weight: bold;
            label{
                margin-right: 10px;
            }
        }
    }

    #c2{
        margin: 40px;
        width: 575px;
        header{
            margin-top: 20px;
            color: rgb(64, 64, 120);
            font-size: smaller;
        }
        input{
            border: 0px;
            margin-top: 20px;
        }
        textarea{
            border: 0px;
            height: 80px;
        }
        #r1{
            display: flex;
            
        }
        #o1{
            width: 300px;
        }
        #o2{
            width: 300px;
            margin-left: 10px;
            
        }
        
        .button{
        display: flex;
        justify-content: end;
        button{
            
            padding: 13px 20px;
            width: 150px;
            height: 40px;
            border: 0px;
            border-radius: 10px;
            background-color: rgb(37, 36, 36);
            color: white;
            font-weight: bold;
            margin-left: 200px;
        }
        button:hover{
            background-color: black;
        }
}
        
    }
}



footer{
    display: flex;
    align-items: center;
    height: 80px;
    p{
        width: 600px;
        font-size: 90%;
        color: rgb(140, 140, 140); 
        margin-right: 100px;        
    }
    .foot{
        
        font-size: 83%;
        padding: 15px 10px ;
        color: rgb(140, 140, 140); 
    }
    .button{
        display: flex;
        justify-content: end;
        button{
            
            padding: 13px 20px;
            width: 150px;
            height: 40px;
            border: 0px;
            margin-left:70px;
            border-radius: 10px;
            background-color: rgb(37, 36, 36);
            color: white;
            font-weight: bold;
            
        }
        button:hover{
            background-color: black;
        }
    }
}