#mainDiv{
    width: 700px;
    height: 700px;
    border: 1px solid black;
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto ;
}

.subDiv{
     width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: white;
}
