#first{
  width: 100px;
  border: 1px solid #000;
}
#first:hover{
  width: 500px;
  transition: width 5s;
}

#outer{
  margin-top: 20px;
  width: 500px;
  height: 50px;
  border: 1px solid #000;
  #inner{
    width: 0px;
    height: 50px;
  }
}

#outer:hover{
  #inner{
    background-color: red;
    width: 500px;
    transition: background-color 5s , width 5s;
  }
}

#outer1{
  width: 500px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid #000;
  #inner1{
    width: 0px;
    height: 50px;
    background-color: red;
  }

}

#outer1:hover{
  #inner1{
    width: 500px;
    background-color: green;
    transition: background-color 5s , width 5s;
  }
}

#outer2{
  width: 500px;
  height: 50px;
  border: 1px solid #000;
  margin-top: 20px;

  #inner2{
  width: 0px;
  height: 50px;  
  }
}

#outer2:hover{
  #inner2{
    width: 500px;
    transition: width 5s;
    animation: myAnimation 5s linear;
  }
}


@keyframes myAnimation {
  0%{
    width: 0%;
    background-color: red;
  }
  50%{
    width: 50%;
    background-color: yellow;
  }
  100%{
    width: 100%;
    background-color: green;
  }
}