h1 {
  width: 200px;
  border: 1px solid #000;
  margin-left: 0px;
}
h1:hover {
  /* margin-left: 200px; */
  width: 400px;
  transition: width 5s;
}

#outer {
  width: 500px;
  height: 50px;
  border: 1px solid #000;
  #inner {
    width: 0%;
    height: 50px;
    background-color: red;
  }
}

#outer:hover {
  #inner {
    width: 100%;
    background-color: green;
    transition: width 5s ease-in-out, background-color 5s;
  }
}

#outer1 {
  width: 500px;
  height: 50px;
  border: 1px solid #000;

  #inner1 {
    height: 50px;
  }
}

#outer1:hover {
  #inner1 {
    animation: myAnimation 5s linear;
  }
}

@keyframes myAnimation {
  0% {
    width: 0%;
    background-color: red;
  }
  50% {
    width: 50%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: green;
  }
}
