@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #4070f4;   
}

#mainPage{
    background-color: white;
    display: inline-block;
    width: 350px;
    margin: 120px  100px;
    padding: 20px 30px;
    border-radius: 20px;
    h1{
    font-family: Poppins;
}
}


#emailid{
    input{
        border: 0px;
        margin: 1px 5px;
    }
}

#passwordid{
    input{
        border: 0px;
        margin: 1px 5px;

    }
}
#checkbox {
    #remember{
        font-family: poppins;
        margin-right: 100px;
        font-size: smaller;
    } 
    #forgot{
        font-family: poppins;
        font-size: smaller;
        color: #4070f4;
    }
}

#loginNow{
    font-family: poppins;
    width: auto;
    color: white;
    height: 40px;
    background-color: #4070f4;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 12px;
    text-align: center;
}

#registerNow{
    
    font-family: poppins;
    background-color: #4070f4;
    width: 350px;
    margin: 30px 0px;
    text-align: center;
    border-radius: 10px;
    color: white;
    height: 40px;
}


#formEnd{
    #account{
        font-family: poppins;
        font-size: smaller;
        margin-left: 50px;
    }
    #signup{
        font-family: poppins;
        font-size: small;
        color: #4070f4;
    }
}

#registrationForm{
    background-color: white;
    display: inline-block;
    width: 350px;
    margin: 50px 50px;
    padding: 30px;
    border-radius: 20px;
    h1{
        font-family: poppins;                           
    }
    input{
        border: 0px;
        margin: 1px 5px;
    }
}

#checkbox2{
    font-family: poppins;
    font-size: smaller;
}

#formEnd2{
    font-family: poppins;
    font-size: smaller;
    span{
        color: #4070f4;
    }
}



    


